local_db
pg_ctl
.depend
_client
_deps
_server
local
cordova
scripts/*.byte
scripts/*.cmi
scripts/*.cmo

old
static/css/ot_*
mobile/eliom_loader.cm*
mobile/eliom_loader.byte
mobile/res/
.DS_Store
Makefile.local

# Specific files for the project.
google-services.json
GoogleService-Info.plist
.depend
